{
    "installed": {
        "client_id": "XXXXXXX.apps.googleusercontent.com",
        "client_secret": "XXXXXXXXXX",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://accounts.google.com/o/oauth2/token",
        "client_email": "",
        "client_x509_cert_url": "",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs"
    }
}
